.family{
  border: 2px solid red;
  width: 40%;
  height :30rem;
}
.parent{
  border:2px solid black;
  height:20rem;
  padding: 2px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 20px;
}
.child{
  border:2px solid yellow;
  height:10rem;
  margin:4px;

}
.gc{
  border:2px solid green;
  height:35px;
  margin: 4px;

}